# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env
*.env

# SQLite database files
*.db
*.sqlite3

# Log and process ID files
*.log
*.pid

# Editor and IDE settings
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db
